.mainFooter {
    background: {
        color: $dark-blue;
    }
    color: white;
    text-align: center;
    a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
    }
}


