/** ELEMENTOS GENERALES **/
html, body {
    font: {
      family: $principal-font;
      size: $font-size;
    }
    color: $font-color;
    background-color: $light-grey;
}

/** ÁTOMOS **/
a {
    transition: all .3s ease-out;
}

footer{
    padding: $paddingGeneral;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li { 
    list-style-position: inside; 
}

nav {
    padding: $paddingGeneral;
    @media screen and (min-width: 768px) {
        padding-left: $paddingGeneralMedium;
    }
}

main{
    padding: $paddingGeneral;
    @media screen and (min-width: 768px) {
        padding-left: $paddingGeneralMedium;
    }
}

header {
    padding: $paddingGeneral;
    @media screen and (min-width: 768px) {
        padding-left: $paddingGeneralMedium;
    }
}

.centerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
    }
    @media screen and (min-width: 900px) {
        margin-left: auto;
        margin-right: auto; 
        width: 80%;
    }
    @media screen and (min-width: 1200px ){
        max-width: 1200px;
    }
}